<!doctype html>
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="faceb">
  <a  href="#about"><i class="fab fa-facebook fa-2x"></i></a>
  <a  href="{% url 'email' %}"><i class="fas fa-envelope-square fa-2x"></i></a>
</div>



      <div class="container" align="center">





<!------------------------------------------->
      <div class="grid-contact">
          <div class="contact-item">
            <img src="{% static 'statewidera/images/statewidelogo_lrg_black.png' %}" class="img-fluid" alt="Responsive image" >
            <br />
            <br />
            <div class="card h-80 text-white bg-info ">
              <div class="card-header">
                <h2 class="ext"><small>ROADSIDE ASSISTANCE SYDNEY</small></h2>
              </div>
              <div class="card-body">
                <h5 class="card-title">24 hr PH:<a href="tel:0488602271" class="phcolor"> 0488 602 271</a></h5>
                <div class="postsearch" >
                  <p class="card-text">
                    <hr class="mt-0 mb-4">
                    {% block eml %}
                    <form method="post">
                        {% csrf_token %}

                        {{ form|crispy }}
                        <div class="form-actions">

                          <!--<button class="btn" name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>-->
                          <input class="btn btn-warning" name="submit" type="submit" id="contact-submit" value="Submit" data-submit="...Sending">

                        </div>
                        <br />
                    </form>
                    {% endblock %}
                </div
                </p>

              </div>
            </div>
            <br />
            </div>
          </div>
      </div>
<!------------------------------------------->

    </div>



      <div class="ext5"><!--beginning of grey seperator-->
        <div class="cover-container  container-fluid" >

          <div class="container ext2" >

      <div class="paymentmthd">
        <div><h5>Payment methods:</h5></div>
        <hr class="paymenthr">
        <div class="nested">
                <div>
                  <img src="/static/statewidera/images/visa.png" alt="visa">
                </div>
                <div>
                  <img src="/static/statewidera/images/MasterCard-Logo.png" alt="master card">
                </div>
                <div>
                  <img src="/static/statewidera/images/eftposLogo.png" alt="eftpos">
                </div>
              </div>
          </div>
          </div>
          </div>
        </div ><!--end of grey seperator-->


{% endblock %}
