<!doctype html>
{% extends 'base.html' %}
{% load static %}
<!--<html lang="en">-->

{% block content %}
<div class="faceb">
  <a  href="{% url 'email' %}"><i class="fas fa-envelope-square fa-2x"></i></a>
</div>



                    <!-- Example row of columns -->

  <div class="container">

                  <div class="jumb-home">
                    <div class="jumbhome-item1">
                      <div class="card border-light" >
                        <div class="card-header">
                          <h1><i>24 / 7 ROADSIDE ASSISTANCE</i></h1>
                        </div>
                        <div class="card-body title">
                          <h4 class="card-title">Covering the whole Sydney metropolitan area.</h4>
                          <p class="card-text">Emergency roadside assistance when you need it. <br>No joining fee, No membership. we offer a premium service at competitive rates to get you back on the road as fast as possible. <h5 class="text-danger">Pay as you go</h5> Giving you that peace mind knowing we are just a call away 24hrs a day, 7 days a week. If we are unable to get your vehicle going, we will also help with organising your vehicle to be towed to a destination of your choice if needed.</p>

                        </div>
                      </div>
                    </div>
                    <div class="jumbhome-item2">
                        <div class="card h-80 text-white bg-info ">
                          <div class="card-header">
                            <h2 class="ext"><small>POST CODE SEARCH</small></h2>
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">Check your Post code</h5>
                            <div class="postsearch" name="post">
                              <p class="card-text">
                                <h6>{{ verdict }}</h6>
                              </p>
                            </div>

                            <form id="post_form"  class="card p-2 bg-light text-dark">{% csrf_token %}
                              <div class="input-group">
                                <input type="number"  class="form-control" id="checkpost"  placeholder="Post code here">
                                <div class="input-group-append">
                                  <button type="submit" class="btn btn-secondary" value="SUBMIT">Check</button>
                                </div>
                              </div>
                            </form>
                            <div id="myModal" class="modal fade" tabindex="-1" role="dialog" role="dialog">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">PostCode Search Result</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
                                        </div>
                                        <div class="modal-footer">
                                        </div>
                                    </div>
                                </div>
                            </div>


                          </div>
                        </div>

                        <hr>
                      <a href="{% url 'faq' %}" class="btn btn-secondary" >Frequently asked questions</a>
                        <hr>
                    </div>

                  </div>


                    <h4 class="card-title">Areas covered.</h4>
                     <div id='map' width="100%" style='height:400px'></div>
                     <script>

                      mapboxgl.accessToken = '{{ mapbox_access_token }}';
                      var bounds = [
                          [-36.381093, 148.982513 ]// Southwest coordinates
                          [-30.285211, 153.099076 ],// Northeast coordinate

                      ];
                      var bounds = [
                          [149.833406, -35.365573], // Southwest coordinates
                          [151.791907, -32.926805]  // Northeast coordinates
                          //-33.275079, 151.181573
                          //-34.898706, 150.596201
                      ];

                      var map = new mapboxgl.Map({
                       container: 'map',
                       style: 'mapbox://styles/mapbox/streets-v9',
                       //center: [151.137, -33.8685],
                       center: [150.999415, -33.827810],
                       minZoom: 7,
                       maxZoom: 30,
                       maxBounds: bounds // Sets bounds as max
                      });

                      map.on('load', function () {

                          map.addLayer({
                              'id': 'maine',
                              'type': 'fill',
                              'source': {
                                  'type': 'geojson',
                                  'data': {
                                      'type': 'Feature',
                                      'geometry': {
                                          'type': 'Polygon',
                                          'coordinates': [[[151.297009, -33.722659],
                                                  [151.099459,-33.672363],
                                                  [150.882105, -33.478953],
                                                  [150.429275, -33.715658],
                                                  [150.465680, -34.064596],
                                                  [150.530585, -34.370233],
                                                  [150.898471, -34.485271],
                                                  [151.033618, -34.190331],
                                                  [151.242455, -33.978869],
                                                  [151.285454, -33.891915]
                                              ]]
                                      }
                                  }
                              },
                              'layout': {},
                              'paint': {
                                  'fill-color': '#ff6666',
                                  'fill-opacity': 0.3,
                                  'fill-outline-color': '#39ac39'
                              }
                          });
                      });
                     </script>
                </div>




        <div class="ext3"><!--beginning of grey seperator-->



            <div class="container ext2">
              <h4 class="card-title">Services.</h4>
          <div class="wrapper"><!--beginning of wrapper-->
            {% for service in services.all %}
              <div class="card h-100" ><!--style="width: 100%;"-->
                <img class="card-img-top" src="{{ service.image.url }}" alt="Card image cap" >
                <div class="card-body">
                  <h5 class="card-title">{{ service.title }}</h5>
                  <p class="card-text">{{ service.home_info }}
                    <br>
                    <a href="{% url 'servicesMore' id=service.id %}" class="text-secondary">More <i class="fas fa-caret-right"></i></a></p>
                </div>


                <div class="card-body cbodlink">
                  <a href="{% url 'email' %}" class="text-secondary"><i class="fas fa-envelope"></i>Enquire</a>
                  <a href="tel:0488602271" class="text-success">Call now <i class="fas fa-phone"></i></a>

                </div>
              </div>

            {% endfor %}


          </div><!--end of wrapper-->
          <div class="paymentmthd">
            <div><h5>Payment methods:</h5></div>
            <hr class="paymenthr">
            <div class="nested">
                <div>
                  <img class="pay" src="/static/statewidera/images/visa.png" alt="visa">
                </div>
                <div>
                  <img class="pay" src="/static/statewidera/images/MasterCard-Logo.png" alt="master card">
                </div>
                <div>
                  <img class="pay" src="/static/statewidera/images/eftposLogo.png" alt="eftpos">
                </div>
              </div>
              <hr class="paymenthr">
          </div>
          </div>

        </div ><!--end of grey seperator-->




{% endblock %}
