<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en" dir="ltr">
  <head>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'custom.css' %}">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% block content %}
    <form action="/success/" method="post">
        {% csrf_token %}

        {{ form|crispy }}
        <div class="form-actions">
          <!--<button type="submit">Send</button>
          <button class="btn" name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>-->
          <input class="btn btn-warning" type="submit" value="Submit" data-submit="...Sending">

        </div>
        <br />
    </form>
    {% endblock %}
  </body>
</html>
