html, body {

     margin:0; /* remove default margin */
     padding:0; /* remove default padding */
     width:100%; /* take full browser width */
     height:100%; /* take full browser height*/
}


.container-fluid{
  /*border: solid 1px yellow;*/
  margin:0;
  padding:0;
}

#background {
    background: url('statewidera/images/statw_carosel_im_04.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /*background-size:contain;*/
}

.top-container{
  padding: 20px 10px 80px 10px;
  /*border: solid 1px yellow;*/
}

/*---------------------------------TopNav*/
/*mobile version of nav*/
@media screen and (max-width: 768px){

  * {
      /*box-sizing: border-box;*/
      font-size: 16px;
      padding: 0;
      margin: 0;
  }
  .top-container{
    text-align: center;
  }
  .responsive{
    width:80%;
  }
  .navbar {
      font-size: 20px;
      /*background-image: linear-gradient(260deg, #4d2600 0%, #261a0d   100%);
      border: 1px solid rgba(0, 0, 0, 0.2);*/
      background-color: #1a1a1a;
      padding: 25px 0 25px 0;
      text-align: left;
      display: block;
  }
  .main-nav{
      list-style-type: none;
      display: none;
      padding-left: 25px;
  }

  .fa-wrench, .fa-caret-down, .fa{
    margin: 0;
    padding: 0;
  }

  .fa-home, .fa-envelope, .fa-phone{
    margin-right: 5px
  }

  .dropbtn{
    display: none;
  }

  .dropdown-content a{
    display: flex;
    flex-direction: column;
    background-color:#1a1a1a;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 25px;
  }

  .nav-links {
    background-color:#1a1a1a;
    display:inline-block;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 25px;
  }

  .logo {
      /*display: inline-block;*/
      font-size: 22px;
      margin: 10px 25px 0 20px;
      color: rgba(255, 255, 255, 0.7);
  }

  .navbar-toggle {
      position: absolute;
      top: 10px;
      right: 20px;
      cursor: pointer;
      color: rgba(255,255,255,0.8);

  }
  .active {
    display: block;
  }

  .fa-bars{
    font-size: 24px;
  }
  .paymentmthd{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
    text-align: center
  }
  .pay{
    margin-bottom: 0px;
    text-align: center
  }
  .grid-container{
    /*display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;*/
    width: auto;
    /*background-color: #2196F3;*/
    /*border: solid 1px green;*/
  }
  .item-1{
    width: 100%;
  }
  .jumb-item1{
    max-width: 100%;
  }

  .nested{
    display:grid;
    grid-row-gap: 1px;
    grid-column-gap: 9px;
    grid-template-columns: 100px 100px 100px;
    grid-auto-flow: row;
    justify-content: start;
  }

  .jumb-home{
    width: 100%;
    /*border: solid 1px green;*/
  }
  .jumbhome-item2{
    width: 100%;
    /*border: solid 1px red;*/
  }

  .border-light{
    max-width: 100%;
  }

  .faqcard{
    width: 100%;
  }

  .card-img-top {
    display:block;
    /*max-width: 100%;*/
    justify-self: stretch;
  }

  .card-body > a{

    /*border: solid 1px green;*/
    display: inline-block;
  }

  .item {
    align-self: center;

  }

  .item-1{
    align-self: flex-start;
    padding: 5px 0px 5px 0px;
    flex-grow: 1;
  }

  .item-2{
    align-self: flex-start;
    padding-top: 36px;
  }

  .card{
    width: 100%;
  }

  .ext{
    padding-bottom: 10px;
  }

  .ext2{
    padding-top: 50px;
    /*border: solid 1px green;*/
    margin: auto;
    width: 100%;
  }

  .ext3{
    /*border: solid 1px red;*/
    background-color: #d9d9d9;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 20px;
  }

  .wrapper{
    margin:auto;
    display:grid;
    grid-row-gap: 1em;
  }


}


/*desktop version of nav*/
@media screen and (min-width: 768px) {

    * {
        /*box-sizing: border-box;*/
        padding: 0;
        margin: 0;
    }

    .navbar {
        background-color: #1a1a1a;
        display: flex;
        justify-content: space-between;
        height: 50px;
        align-items: center;
        align-items: stretch;
        padding:0;
    }
    .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin:0;
    }


    .fa-wrench, .fa-caret-down, .fa{
      margin: 0;
      padding: 0;
    }

    .fa-home, .fa-envelope{
      margin-right: 5px
    }


    ul {
        list-style-type:none;
    }

    ul li {
        display:inline-block;
    }

    .nav-links, .dropbtn{
      background-color:#1a1a1a;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 13px;
      padding-top: 13px;
      display:inline-block;
      border: none;
    }

    .nav-links,
    .logo,
    .dropbtn{
        margin-top: 0;
        color: rgba(255, 255, 255, 0.7);
    }

    .dropbtn{
        padding-bottom: 2px;
        padding-top: 11px;
    }

    .logo{
        margin: 10px 10px;
        color: rgba(255, 255, 255, 0.7);
    }

   .navbar-toggle {
       display: none;
    }

    .wrapper{
      /*border: solid 1px green;
      width: 1200px;*/
      margin:auto;
      display:grid;
      /*grid-template-columns: 33.3% 33.3% 33.3%;*/
      grid-template-columns: 1fr 1fr 1fr;
      /*grid-template-columns: 1fr 1fr 1fr;*//*shorthand below*/
    /*  grid-template-columns:repeat(3, 1fr);*/
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      grid-column-gap:1em;
      grid-row-gap: 1em;
      /*grid-auto-rows: 200px;*/
      grid-auto-rows: minmax(100px, auto);
      padding: 0;
      padding-right: 20px;
    }

    .nav-links:hover,
    .dropbtn:hover, .dropbtn:focus {
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
        background-color: #555;
        display:inline-block;
    }

    .logo:hover {
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
        display: inline-flex;
        background-color: #555;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        font-size: 18px;
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 8px 16px;
        text-decoration: none;
        display: block;
    }

    a:hover {background-color: #ddd;}

    .show {
      display: block;
    }

    .item-2{
      align-self: flex-start;
      width:30%;
    }


    .jumb-home{
      display:grid;
      margin: 50px auto 20px auto;

      grid-template-columns: repeat(auto-fill, minmax(400px, auto));
      grid-column-gap: 2em;
      grid-auto-columns: minmax(200px, auto);
      /*border: solid 1px green;*/
    }
    .jumbhome-item2{
      max-width: 400px;
    }


    .jumb{
      display:grid;
      margin:auto;
      margin-top: 80px;
      margin-bottom: 80px;
      grid-template-columns: repeat(auto-fill, minmax(325px, auto));
      grid-column-gap: 2em;
      grid-auto-columns: minmax(200px, auto);
      /*border: solid 1px green;*/
    }

    .jumb-item2{
      max-width: 400px;

    }

/*
    .card{
      width: 100%;
    }
*/
    .paymentmthd{
      padding-top: 50px;
      padding-bottom: 20px;
      margin-bottom: 0;
      text-align: center
    }
    .pay{
      margin-bottom: 0px;
      text-align: center
    }
    .nested{
      display:grid;

      grid-row-gap: 1px;
      grid-column-gap: 9px;
      grid-template-columns: 100px 100px 100px;
      grid-auto-flow: column;
      justify-content: center;
    }

    .grid-container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      padding-top: 100px;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 50px;
      /*background-color: #2196F3;*/
    }

    .item {
      align-self: center;

    }

    .item-1{
      align-self: flex-start;
      padding: 0px 20px 50px 0;
      flex-grow: 1;
      width: 60%;
    }

    .item-2{
      align-self: flex-start;
      padding-top: 36px;
    }

    .title{
      padding-left: 0;
    }

    .ext{
      padding-bottom: 10px;
    }

    .ext2{
      padding-top: 50px;
      /*border: solid 1px green;*/
      width: 100%;
    }

    .ext3{
      /*border: solid 1px red;*/
      background-color: #d9d9d9;

      width: 100%;
      margin-top: 50px;
      padding-bottom: 20px;
    }

  }

/*---------------------------------End-TopNav*/




.services{
  background-color: #4d4d4d;
  padding: 40px 10px 80px 10px;
}
.serv {

  padding: 20px 10px 80px 10px;
  min-width: 992px !important;
}



.stretch {
    width:100%;
    height:100%;
}




.fa{
  padding: 5px 10px;
}

.faceb{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width:100%;
  padding: 10px 10px 0 10px;

}



.active {
  color: white;
}

.divider {
  border-top: solid 1px #1a1a1a;
  clear: both;
  height: 1px;
  width: 100%;
}


.cont-marg2{
	margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.serv-marg{
  margin: 0px 0px 20px 0px;
}








.servicediv{
  /*background: #eee;*/
  padding: 5px;
}



.nested > div{
  /*border: #333 1px solid;*/
  padding:0 1em 0px 1em;
}

.page-footer{

  background-color: #4d4d4d;
}

.cbodlink{
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: flex-end;
  padding: 1em 1em 0 0;
  /*border: solid 1px red;*/
  margin-left: 20px;
  margin-bottom: 10px;
}

.card-body > a{
  /*width: 100%;
  border: solid 1px green;*/
  display: inline-block;
}



.fa{
  padding-bottom: 1em;
}

.copy{
  color: #4d4d4d;
}

.phcolor > a{
  color: white !important;
}

.paymenthr{
  padding-bottom: 0;
  margin-bottom: 20px;
}

/*------FAQ---------------------*/
.jumb-faq{
  display:grid;
  margin:auto;
  margin-top: 80px;
  grid-template-columns: 95% 15%;
  grid-template-columns: repeat(auto-fill, minmax(400px, auto));
  grid-column-gap: 2em;
  grid-auto-columns: minmax(200px, auto);
  /*border: solid 1px green;*/
}
/*
.pos{
  display: flex;
  border: red 1px solid;
  display: inline-block;
  align-items: flex-end;

  width: 500px;
}
*/
.faq a:hover{
  color: #333333;
  text-decoration: none;
}

.show{
  display: flex;
  flex-wrap: wrap;
}

.postcodeWrapper{

  display: flex;
  align-items: flex-end;
}




/*------CONTACT---------------------*/

.grid-contact{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 100px;

}

.contact-item{
  align-self: center;
}

.containercont{
  /*border: solid 1px red;*/
  width:100%;
}

.modal-header {
  background-color: #17a2b8;
  color: white;
}

.modal-body {
  background-color: white;
  color: black;
}
